* {
  font-family: "Helvetica", "Arial", "sans-serif";
}

.navmenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navmenu li {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.navmenu li a {
  text-align: left;
}

table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

th {
  text-align: left;
  vertical-align: bottom;
}

tbody td {
  border-top: 1px solid lightgrey;
  align-items: top;
  vertical-align: baseline;
  padding-top: 5px;
  padding-bottom: 3px;
  width: 90px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: gray;
}

a:active {
  text-decoration: underline;
  color: inherit;
}
