* {
  font-family: "Helvetica", "Arial", "sans-serif";
}

.navmenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navmenu li {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.navmenu li a {
  text-align: left;
}

table {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

th {
  text-align: left;
  vertical-align: bottom;
}

tbody td {
  border-top: 1px solid lightgrey;
  align-items: top;
  vertical-align: baseline;
  padding-top: 5px;
  padding-bottom: 3px;
  width: 90px;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

td a:hover {
  color: gray;
}

.navmenu a:hover {
  color: gray;
}

td a:active {
  text-decoration: underline;
  color: inherit;
}

.banner {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  width: 75%;
}

.banner div {
  width: 50%;
}

.banner div p {
  text-align: center;
}

.banner ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.banner ul li button {
  width: 150px;
  height: 32px;
  font-weight: bold;
  border-radius: 25px;
}

.banner ul li button.signup {
  margin-right: 15px;
  color: white;
  background-color: gray;
  border: none;
}

.banner ul li button.signin {
  margin-left: 15px;
  color: inherit;
  background-color: white;
  border: 2px solid gray;
}

.banner ul li button.signin:hover {
  background-color: whitesmoke;
}
